/**
* {{baseName}} Controller
*/

const httpStatus = require('http-status')
const {{classname}}Service = require('../service/service.{{classname}}')

{{#operations}}
{{#operation}}
{{#swgdoc}}
/**
 * @swagger
 * {{path}}:
 *   {{httpMethod}}:
 *     description: {{summary}}
 *     tags:
         {{#tags}}
 *       - {{name}}
         {{/tags}}
 *     produces:
         {{#produces}}
 *       - {{mediaType}}
         {{/produces}}
 *     parameters:
         {{#allParams}}
 *       - name: {{paramName}}
 *         description: {{description}}
 *         in: {{#isFormParam}}formData{{/isFormParam}}{{#isQueryParam}}query{{/isQueryParam}}{{#isPathParam}}path{{/isPathParam}}{{#isHeaderParam}}header{{/isHeaderParam}}{{#isBodyParam}}body{{/isBodyParam}}
 *         required: {{#isPathParam}}true{{/isPathParam}}{{#isBodyParam}}true{{/isBodyParam}}{{#isFormParam}}true{{/isFormParam}}{{#isQueryParam}}false{{/isQueryParam}}{{#isHeaderParam}}false{{/isHeaderParam}}
           {{#isRefObject}}
 *         schema:
 *           $ref: #/definitions/{{refObjectName}}
           {{/isRefObject}}
           {{^isRefObject}}
           {{#isUuid}}
 *         type: string
           {{/isUuid}}
           {{^isUuid}}
 *         type: {{dataType}}
           {{/isUuid}}
           {{#isListContainer}}
 *         items:
           {{#isContainer}}
 *           type: #/definitions/{{complexType}}
           {{/isContainer}}
           {{^isContainer}}
 *           type: {{dataType}}
           {{/isContainer}}
           {{/isListContainer}}
           {{^isListContainer}}
           {{#dataFormat}}
 *         format: {{dataFormat}}
           {{/dataFormat}}
           {{#min}}
 *         min: {{min}}
           {{/min}}
           {{#max}}
 *         max: {{max}}
           {{/max}}
           {{#maxLength}}
 *         maxLength: {{maxLength}}
           {{/maxLength}}
           {{#minLength}}
 *         minLength: {{minLength}}
           {{/minLength}}
           {{#minimum}}
 *         minimum: {{minimum}}
           {{/minimum}}
           {{#maximum}}
 *         maximum: {{maximum}}
           {{/maximum}}
           {{#exclusiveMinimum}}
 *         exclusiveMinimum: {{exclusiveMinimum}}
           {{/exclusiveMinimum}}
           {{#exclusiveMaximum}}
 *         exclusiveMaximum: {{exclusiveMaximum}}
           {{/exclusiveMaximum}}
           {{#isEnum}}
 *         enum:
           {{#_enum}}
 *           - {{.}}
           {{/_enum}}
           {{/isEnum}}
           {{/isListContainer}}
           {{/isRefObject}}
         {{/allParams}}
 *     responses:
         {{#responses}}
 *       {{code}}:
 *         description: {{message}}
 *         schema:
 *           $ref: {{schema.genericRef.ref}}
         {{/responses}}
 */
{{/swgdoc}}
{{^swgdoc}}
{{#vendorExtensions}}
  {{^x-head-method}}
/**
 * {{#x-get-method}}{{#isListContainer}}Retrieve all {{spaceReturnType}} data in the system.{{/isListContainer}}{{^isListContainer}}Retrieve a {{spaceReturnType}} by id.{{/isListContainer}}{{/x-get-method}}{{#x-post-method}}Create a new {{spaceReturnType}} in the system.{{/x-post-method}}{{#x-patch-method}}Update partial content of a {{spaceReturnType}} in the system.{{/x-patch-method}}{{#x-put-method}}Update a {{spaceReturnType}} in the system.{{/x-put-method}}{{#x-delete-method}}Delete a {{spaceReturnType}} in the system.{{/x-delete-method}}
 * {{notes}}
 * @param {Object} req - the request object
 * @param {Object} res - the response object
 * @param {Function} _next - pass process control to the next component.
 */
  {{/x-head-method}}
{{/vendorExtensions}}
{{/swgdoc}}
  {{#vendorExtensions}}
  {{^x-head-method}}
module.exports.{{nickname}} = async (req, res, _next) => {
  {{/x-head-method}}
  {{#x-get-method}}
  {{#isListContainer}}
  const data = await {{classname}}Service.{{nickname}}(req.query)
  {{#x-search-page}}
  const pagingData = helper.formatPagingData(req, data)
  res.set(pagingData.Headers).json(pagingData.Items)
  {{/x-search-page}}
  {{^x-search-page}}
  res.json(data)
  {{/x-search-page}}
  {{/isListContainer}}
  {{^isListContainer}}
  const data = await {{classname}}Service.{{nickname}}(req.params.{{caseReturnType}}Id)
  res.json(data)
  {{/isListContainer}}
  {{/x-get-method}}
  {{#x-post-method}}
  const data = await {{classname}}Service.{{nickname}}(req.body, req.authUser)
  res.status(httpStatus.CREATED).json(data)
  {{/x-post-method}}
  {{#x-put-method}}
  const data = await {{classname}}Service.{{nickname}}(req.params.{{caseReturnType}}Id, req.body, req.authUser)
  res.json(data)
  {{/x-put-method}}
  {{#x-patch-method}}
  const data = await {{classname}}Service.{{nickname}}(req.params.{{caseReturnType}}Id, req.body, req.authUser)
  res.json(data)
  {{/x-patch-method}}
  {{#x-delete-method}}
  await {{classname}}Service.{{nickname}}(req.params.{{caseReturnType}}Id)
  res.status(httpStatus.NO_CONTENT).json()
  {{/x-delete-method}}
{{^x-head-method}}
}

{{/x-head-method}}
{{/vendorExtensions}}
{{/operation}}
{{/operations}}