/**
* Insert test data to database.
*/
const logger = require('../src/lib/logger')
const { {{> sub.modelNameLine}} } = require('../src/model/index')

const insertData = async () => {
  logger.info('Insert test data into database.')
  {{#models}}
    {{#model}}
      {{#vendorExtensions}}
        {{#x-table-model}}
  let {{classVarName}}Coll = []
  for (let i = 1; i <= 5; i++) {
    const model = new {{name}}Model({
      {{#allVars}}
        {{#isRefObject}}
      {{refObjectName}}: {{> sub.typeExample}}{{#hasMore}},{{/hasMore}}
        {{/isRefObject}}
        {{^isRefObject}}
        {{#isListContainer}}
      {{name}}: {{> sub.typeExample}}{{#hasMore}},{{/hasMore}}
        {{/isListContainer}}
        {{^isListContainer}}
      {{name}}: {{> sub.typeExample}}{{#hasMore}},{{/hasMore}}
        {{/isListContainer}}
        {{/isRefObject}}
      {{/allVars}}
    })
    const data = await model.save()
    {{classVarName}}Coll.push(data)
  }

        {{/x-table-model}}
      {{/vendorExtensions}}
    {{/model}}
  {{/models}}
}

module.exports.insertData = insertData
