/**
 * export all model together
*/
{{#models}}
{{#model}}
{{#vendorExtensions}}
{{#x-table-model}}
const {{name}}Model = require('./{{classFilename}}.model')
{{/x-table-model}}
{{/vendorExtensions}}
{{/model}}
{{/models}}

{{#models}}
  {{#model}}
    {{#vendorExtensions}}
      {{#x-table-model}}
{{#allVars}}
  {{#vendorExtensions.x-foreign-model}}
{{model.name}}Model.belongsTo({{.}}Model, { foreignKey: '{{name}}', targetKey: 'id' })
{{.}}Model.hasMany({{model.name}}Model, { foreignKey: '{{name}}', sourceKey: 'id' })
  {{/vendorExtensions.x-foreign-model}}
{{/allVars}}
      {{/x-table-model}}
    {{/vendorExtensions}}
  {{/model}}
{{/models}}
module.exports = {
{{#models}}
{{#model}}
  {{#vendorExtensions}}
    {{#x-table-model}}
  {{name}}Model,
    {{/x-table-model}}
  {{/vendorExtensions}}
{{/model}}
{{/models}}
}
