/**
* Define {{#models}}{{#model}}{{name}}{{/model}}{{/models}} model
*/

{{#models}}
{{#model}}
{{#vendorExtensions}}
{{#x-table-model}}
{{#orm_isSequelize}}
{{> sub.model.sequelize}}
{{/orm_isSequelize}}
{{#db_isJsonDB}}
{{> sub.model.jsondb}}
{{/db_isJsonDB}}
{{#db_isDynamoDB}}
{{> sub.model.dynamo}}
{{/db_isDynamoDB}}
{{/x-table-model}}
{{^x-table-model}}
// TODO: remove this file
{{/x-table-model}}
{{/vendorExtensions}}
{{/model}}
{{/models}}
