/**
* {{baseName}} Service
*/

const Joi = require('joi')
const merge = require('merge-deep')
const uuidv4 = require('uuid/v4')
const error = require('../lib/app-error')
const Model = require('../model/index')
{{#db_isSqlite}}
const sequelize = require('../lib/db').sequelize
{{/db_isSqlite}}

{{#operations}}
{{#operation}}
{{#db_isDynamoDB}}
{{> sub.service.operation.dynamo}}
{{/db_isDynamoDB}}
{{#db_isSqlite}}
{{> sub.service.operation.sqlite}}
{{/db_isSqlite}}
{{/operation}}
{{/operations}}
module.exports = {
{{#operations}}
{{#operation}}
  {{nickname}}{{#hasMore}},{{/hasMore}}
{{/operation}}
{{/operations}}
}
