/**
 * {{baseName}} Service
 */
const _ = require('lodash')
const Joi = require('@hapi/joi')
const uuid = require('uuid/v4')
const config = require('config')
const helper = require('../common/helper')
const { Table } = require('../constants')
const logger = require('../common/logger')
const errors = require('../common/app-error')
const HttpStatus = require('http-status')
{{#orm_isSequelize}}
const models = require('../models/index')
const sequelize = require('../lib/db').sequelize
{{/orm_isSequelize}}

{{#operations}}
{{#operation}}
{{#db_isDynamoDB}}
{{> sub.service.operation.dynamo}}
{{/db_isDynamoDB}}
{{#orm_isSequelize}}
{{> sub.service.operation.sequelize}}
{{/orm_isSequelize}}
{{#db_isJsonDB}}
{{> sub.service.operation.dynamo}}
{{/db_isJsonDB}}
{{#db_isNeo4j}}
{{> sub.service.operation.dynamo}}
{{/db_isNeo4j}}
{{#db_isMongoDB}}
{{> sub.service.operation.dynamo}}
{{/db_isMongoDB}}
{{/operation}}
{{/operations}}
module.exports = {
{{#operations}}
{{#operation}}
{{#vendorExtensions}}
{{^x-head-method}}
  {{nickname}}{{#hasMore}},{{/hasMore}}
{{/x-head-method}}
{{/vendorExtensions}}
{{/operation}}
{{/operations}}
}

logger.buildService(module.exports)