{{#isLong}}
{{baseName}}: Joi.number().integer(){{#minimum}}.min({{minimum}}){{/minimum}}{{#maximum}}.max({{maximum}}){{/maximum}}.{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isLong}}
{{#isInteger}}
{{baseName}}: Joi.number().integer(){{#minimum}}.min({{minimum}}){{/minimum}}{{#maximum}}.max({{maximum}}){{/maximum}}.{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isInteger}}
{{#isDouble}}
{{baseName}}: Joi.number(){{#minimum}}.min({{minimum}}){{/minimum}}{{#maximum}}.max({{maximum}}){{/maximum}}.{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isDouble}}
{{#isFloat}}
{{baseName}}: Joi.number(){{#minimum}}.min({{minimum}}){{/minimum}}{{#maximum}}.max({{maximum}}){{/maximum}}.{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isFloat}}
{{#isNumber}}
{{baseName}}: Joi.number(){{#minimum}}.min({{minimum}}){{/minimum}}{{#maximum}}.max({{maximum}}){{/maximum}}.{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isNumber}}
{{#isNumeric}}
{{baseName}}: Joi.number(){{#minimum}}.min({{minimum}}){{/minimum}}{{#maximum}}.max({{maximum}}){{/maximum}}.{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isNumeric}}
{{#isString}}
{{baseName}}: Joi.string().trim(){{#minLength}}.min({{minLength}}){{/minLength}}{{#maxLength}}.max({{maxLength}}){{/maxLength}}.{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isString}}
{{#isBoolean}}
{{baseName}}: JoiBoolean.{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isBoolean}}
{{#isDate}}
{{baseName}}: Joi.date().iso().{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isDate}}
{{#isDateTime}}
{{baseName}}: Joi.date().iso().{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isDateTime}}
{{#isUuid}}
{{baseName}}: Joi.string().trim().lowercase().uuid().{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isUuid}}
{{#isEnum}}
{{baseName}}: Joi.string().uppercase().valid(['ONE', 'TWO']).{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isEnum}}
{{#isByteArray}}
{{baseName}}: Joi.array().{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isByteArray}}
{{#isBinary}}
{{baseName}}: Joi.any().{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isBinary}}
{{#isEmail}}
{{baseName}}: Joi.string().email().{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isEmail}}
{{#isFreeFormObject}}
{{baseName}}: Joi.any().{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isFreeFormObject}}
{{#isListContainer}}
{{baseName}}: Joi.array().{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isListContainer}}
{{#isMapContainer}}
{{baseName}}: Joi.any().{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isMapContainer}}
{{#isFile}}
{{baseName}}: Joi.any().{{#required}}required(){{/required}}{{^required}}optional(){{/required}},
{{/isFile}}