{{#isLong}}Number{{/isLong}}{{#isInteger}}Number{{/isInteger}}{{#isDouble}}Number{{/isDouble}}{{#isFloat}}Number{{/isFloat}}{{#isNumber}}Number{{/isNumber}}{{#isString}}{{^isEnum}}{{^isUuid}}String{{/isUuid}}{{/isEnum}}{{#isUuid}}String{{/isUuid}}{{#isEnum}}String{{/isEnum}}{{/isString}}{{#isBoolean}}Boolean{{/isBoolean}}{{#isDate}}Date{{/isDate}}{{#isDateTime}}Date{{/isDateTime}}{{#isByteArray}}Buffer{{/isByteArray}}{{#isFreeFormObject}}Object{{/isFreeFormObject}}{{#isListContainer}}Array /*[Object]*/{{/isListContainer}}{{#isMapContainer}}Object{{/isMapContainer}}{{#isFile}}Buffer{{/isFile}}