{{#isLong}}BIGINT{{/isLong}}{{#isInteger}}INTEGER{{/isInteger}}{{#isDouble}}DOUBLE{{/isDouble}}{{#isFloat}}FLOAT{{/isFloat}}{{#isNumber}}DECIMAL{{/isNumber}}{{#isString}}{{^isEnum}}STRING{{/isEnum}}{{#isEnum}}STRING(20){{/isEnum}}{{/isString}}{{#isBoolean}}BOOLEAN{{/isBoolean}}{{#isDate}}DATE{{/isDate}}{{#isDateTime}}DATE{{/isDateTime}}{{#isUuid}}UUID{{/isUuid}}{{#isByteArray}}BLOB{{/isByteArray}}{{#isEmail}}STRING{{/isEmail}}{{#isFreeFormObject}}JSON{{/isFreeFormObject}}{{#isListContainer}}JSON{{/isListContainer}}{{#isMapContainer}}JSON{{/isMapContainer}}{{#isFile}}BLOB{{/isFile}}