{{#isLong}}123{{/isLong}}{{#isInteger}}123{{/isInteger}}{{#isDouble}}123.456{{/isDouble}}{{#isFloat}}123.456{{/isFloat}}{{#isNumber}}1234{{/isNumber}}{{#isNumeric}}1234{{/isNumeric}}{{#isString}}'abc'{{/isString}}{{#isBoolean}}false{{/isBoolean}}{{#isDate}}new Date(){{/isDate}}{{#isDateTime}}new Date(){{/isDateTime}}{{#isUuid}}9ad81b52-3d60-11e9-b210-d663bd873d93{{/isUuid}}{{#isEnum}}'ONE'{{/isEnum}}{{#isByteArray}}[]{{/isByteArray}}{{#isBinary}}''{{/isBinary}}{{#isEmail}}admin@company.co{{/isEmail}}{{#isFreeFormObject}}{}{{/isFreeFormObject}}{{#isListContainer}}[]{{/isListContainer}}{{#isMapContainer}}{}{{/isMapContainer}}{{#isFile}}'image.png'{{/isFile}}