{{#vendorExtensions}}{{#x-get-method}}read{{/x-get-method}}{{#x-delete-method}}delete{{/x-delete-method}}{{#x-post-method}}create{{/x-post-method}}{{#x-patch-method}}update{{/x-patch-method}}{{#x-put-method}}update{{/x-put-method}}{{/vendorExtensions}}