{{#vendorExtensions}}{{#x-get-method}}READ{{/x-get-method}}{{#x-delete-method}}DELETE{{/x-delete-method}}{{#x-post-method}}CREATE{{/x-post-method}}{{#x-patch-method}}UPDATE{{/x-patch-method}}{{#x-put-method}}UPDATE{{/x-put-method}}{{/vendorExtensions}}