const dynamoose = require('dynamoose')
const config = require('config')
const Schema = dynamoose.Schema

{{#models}}
{{#model}}
{{#vendorExtensions}}
{{#x-table-model}}
const schema = new Schema({
  {{#allVars}}
  {{name}}: {
    {{#vendorExtensions.x-is-key}}
    type: {{> sub.dynamoType}},
    hashKey: true,
    required: true
    {{/vendorExtensions.x-is-key}}
    {{^vendorExtensions.x-is-key}}
    type: {{> sub.dynamoType}},
    required: {{required}}
    {{/vendorExtensions.x-is-key}}
  }{{#hasMore}},{{/hasMore}}
  {{/allVars}}
},
{
  throughput: {
    read: Number(config.AMAZON.DYNAMODB_THROUGHPUT_READ),
    write: Number(config.AMAZON.DYNAMODB_THROUGHPUT_WRITE)
  },
  timestamps: true // adds createdAt and updatedAt fields
})

module.exports = schema
{{/x-table-model}}
{{^x-table-model}}
// TODO: remove this file
{{/x-table-model}}
{{/vendorExtensions}}
{{/model}}
{{/models}}
