/**
 * Unit test of the {{openAPI.info.title}}.
 */

process.env.NODE_ENV = 'test'

require('../../src/bootstrap')
const config = require('config')
const logger = require('../../src/lib/logger')
const { cleanData, initData } = require('../../scripts/tools')

describe('{{openAPI.info.title}} Unit Test', () => {
  let infoLogs = []
  let errorLogs = []
  let debugLogs = []
  const info = logger.info
  const error = logger.error
  const debug = logger.debug
  const fullError = logger.logFullError

  /**
   * Sleep with time from input
   * @param time the time input
   */
  const sleep = (time) => new Promise((resolve) => {
    setTimeout(resolve, time)
  })

  before(async () => {
    // inject logger with log collector
    logger.info = (message) => {
      infoLogs.push(message)
      info(message)
    }
    logger.debug = (message) => {
      debugLogs.push(message)
      debug(message)
    }
    logger.error = (message) => {
      errorLogs.push(message)
      error(message)
    }
    logger.logFullError = (message) => {
      errorLogs.push(message)
      error(message)
    }

    await cleanData()
    await initData()
    await sleep(config.WAIT_TIME)
  })

  after(async () => {
    // restore logger
    logger.error = error
    logger.info = info
    logger.debug = debug
    logger.logFullError = fullError
  })

  describe('Service Unit Test', () => {
{{#apiInfo}}
  {{#apis}}
    require('./service.{{classname}}.test')
  {{/apis}}
{{/apiInfo}}
  })
})
